
/*----------------------------------------------*/
/*--------------- Newsletter Styles ------------*/
/*----------------------------------------------*/	

.modal-body {

  z-index: 1000 !important;
}

.clear-both{

	clear:both;
}

.newsletterbtn .btn{

	margin-top:70px;
}




#newsletter_mpu_img{
	
	background-image:url('xnewsletter-mpu2.png.pagespeed.ic.Q8qkVyhZWr.png');
	background-repeat: no-repeat;
	width:110%;
	height:300px;

}


.triangle_image{


	position: relative;
	z-index: 59;
	float: right;
	vertical-align: bottom;
	top: 340px;
	margin-right:-15px;
}

.newsletter_usher {
	display: block;
	position:absolute;
	z-index: 1000;
	float: right;
	right: 117px;
}


.successMessage{

	text-align:center;
	margin:auto;
	padding-top:30px;
	padding:30px;
}


.newsletterTickbox{
	font-weight: normal;
	font-size: 12px;
	margin: 0 5px 5px 0px;
}

.no-border{
	border:none !important;
}

.firstName,
.lastName,
.emailAddress	{
	width:100%;
	border: none;
	padding: 5px 0 10px;
}
	
#newslettersignup ul li {
	list-style:none;
}	

#newslettersignup ul {
	padding: 0;
}

#newslettersignup .col-md-3 {
	width: 50%;
}

.fieldBox {
	float:left;
	width:100%;
	background-color:#e6e6e6;
	border:1px solid #c0c0c0;
	margin-top:20px;
	margin-bottom:17px;
}




/*----------------------------------------------*/
/*--------------- MEDIA QUERIES ----------------*/
/*----------------------------------------------*/


/*-------- desktop Landscape ---------*/

@media (max-width: 1700px) {

	.triangle_image{

		top: 246px;
			
	}
	
}




/*-------- Tablet Landscape ---------*/

@media (max-width: 1200px) {

	.triangle_image{

		top: 174px;
			
	}
	
}



/*-------- Tablet Landscape ---------*/

@media (max-width: 991px) {

	#newslettersignup h2 {
		margin-top: 20px;
	}
	
	#newslettersignup .col-md-6	{
		width: 50%;
		float: left;
	}
	
	#newslettersignup .col-md-3 {
		width: 50%;
		float: left;
		padding: 0 5px;
	}
	
}


/*-------- Tablet Landscape ---------*/

@media (max-width: 768px) {
	
	.modal-dialog { 
		margin: 0 auto;
		width: 90%; 
	}

}



/*--------- Tablet Portrait ---------*/

@media (max-width: 640px) {
	
	#newslettersignup h2,
	#newslettersignup li {
		font-size: 16px;
	}
	
	#newslettersignup .col-md-6	{
		width: 100%;
	}

	#newslettersignup .col-md-3 {
		width: 25%;
		float: left;
	}
	
}


/*-------- Mobile Landscape ---------*/

@media (max-width: 480px) {
	
	#newslettersignup .col-md-3	{
		width: 50%;
	}

}

}





/*----------------------------------------------*/
/*--------------- MEDIA QUERIES ----------------*/
/*----------------------------------------------*/	



